
@font-face {
  font-family:Fontz;
  src: url('/home/afzal/Desktop/Software repository/UI Design/Darchives/files/pictures/G/G.ttf');
}
@font-face {
  font-family:Future_font;
  src: url('/home/afzal/Desktop/Software repository/UI Design/Darchives/files/pictures/P/P.ttf');
}
.grad {
 background: linear-gradient(to right, #0A0C19 15%,transparent );
 width: 35%;
 height: 100%;
 background-repeat: no-repeat;
 background-attachment: scroll;
 position:absolute;
 background-size: 100% 100%;
 z-index: 2;

}
.back{
  background-image: url('/home/afzal/Desktop/Software repository/UI Design/Darchives/files/pictures/home_1.jpg');
  position:absolute;
  background-size: 100% 100%;
  z-index: 1;
}



.first_heading {
  position: relative;
  float: right;
  font-size: 10px;
  font-family: Fontz;
  margin: 7% 70.4% 10px 2%;
  color: #31DA9C;
  text-align: left;
  z-index: 3;


}

.first_paragraph{
  position: relative;
  float: right;
  font-size: 12px;
  font-family: Future_font;
  margin:  2% 70.4% 10px 2%;
  color: #6ADAB1;
  text-align: left;
  z-index: 2;

}
